.inputTodo {
  outline: none;
  border: none;
  text-align: left;
  width: 100%;
  margin: auto;
  padding: 15px 20px;
  color: #555555;
  font-weight: bold;
  font-size: 22px;
}
.inputTodo::placeholder {
  color: #bbbbbb;
}

.btnSave {
  background-color: #b2b2b2;
  color: white;
  font-size: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin: 0 18px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  margin-bottom: 1rem;
}
.h6 {
  color: black;
  width: 100%;
  font-weight: 800;
  padding-left: 20px;
}
