.bg {
  background-color: darkblue;
  color: white;
}
.bg1 {
  background-color: red;
  color: aliceblue;
}
.bg2 {
  background-color: rebeccapurple;
  color: aliceblue;
}
.bg3 {
  background-color: rosybrown;
  color: aliceblue;
}
