.counterSection {
  width: 620px;
  height: 50px;
  margin: 2rem auto;
  text-align: center;
}
.headCounter {
  background-color: #f2f2f21c;
  width: 480px;
  height: 370px;
  margin: auto;
  padding: 2rem;
}
.breakList {
  display: inline-flex;
}
.list {
  cursor: pointer;
  padding: 2px 15px;
  margin: 0px 5px;
  text-transform: capitalize;
}
.listSelected {
  background-color: rgba(71, 71, 71, 0.274);
  padding: 2px 15px;
  margin: 0px 5px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
}

.titleMin {
  font-size: 110px;
}
/*  button start and pause  */

.btnStart,
.btnPause {
  margin-top: 1rem;
  width: 200px;
  color: rgb(219, 82, 77);
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: color 0.5s ease-in-out 0s;
  margin: auto;
  line-height: 2.5;
}
.btnPause {
  box-shadow: rgb(235 235 235) 0px 0px 0px;
  margin-top: 5px;
}
/* color button start and pause  */
.bg1 {
  background-color: #db524d;
}
.bg2 {
  background-color: #468e91;
}
.bg3 {
  background-color: #437ea9;
}

/* background color pages  */

.btnColor1 {
  color: #db524d;
}
.btnColor2 {
  color: #468e91;
}
.btnColor3 {
  color: #437ea9;
}
.bg1,
.bg2,
.bg3 {
  color: white;
}
@media (max-width: 650px) {
  .headCounter,
  .counterSection {
    width: 85%;
  }
  .list {
    font-size: 14px;
  }
}
